.Contact {
  width: 70vw;
  padding-top: 7vh;
  text-align: left;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: #464646;
}

@media only screen and (max-width: 390px) and (min-width: 100px){
  .Contact {
    width: 90vw;
  }
}

@media only screen and (max-width:945px) and (min-width:481px){
  .Contact {
    width: 80vw;
  }
}